<!DOCTYPE html>
<html>
<head>
    <title> TutorBot Games </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .link-button {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            font-size: 1em;
            font-family: serif;
        }

        .link-button:focus {
            outline: none;
        }

        /*// todo move to a shared css*/
        body {
            background-image: url('/images/skyclouds.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .section-div {
            background-color: rgba(255, 255, 255, 0.6); /* White background with 20% transparency */
            border: 5px solid orange; /* Thick orange border */
            border-radius: 10px; /* Rounded borders */
            display: inline-block; /* Make the width equal to the content width */
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
        }

        .section-bottom {
            padding: 10px;
            border-top: 3px solid orange;
        }

        #title-bar {
            background-color: #000080; /* Dark blue color */
            color: #ffffff; /* White text color */
            padding: 20px; /* Padding */
            text-align: center; /* Center the text */
        }

    </style>
    <link rel="stylesheet" type="text/css" href="toolbar.css">
</head>
<body>

<%- include('toolbar.ejs') %>
<div style="clear:both;"></div>

<h1>Welcome <%= username %>, to the TutorBot Game!</h1>
<br>

<table>
    <tr style="vertical-align: top;">
        <td style="padding-right: 20px;">

            <div class="section-div">
                <div id="title-bar">Multiplication Problems</div>

                <div class="section-bottom">
                    <form id="multiplicationForm" action="/multiplication" method="post">
                        <input type="hidden" name="title" value="Multiplication Game">
                        <input type="hidden" name="timer" value="240">
                        <button type="submit" class="link-button">Multiplication Game - 4 minutes - all</button>
                    </form>

                    <form id="noTimerForm" action="/multiplication" method="post">
                        <input type="hidden" name="title" value="Multiplication Game">
                        <input type="hidden" name="limitNumbers" value="1,2,3,4">
                        <button type="submit" class="link-button">Multiplication Game - Practice easy</button>
                    </form>

                    <form id="multiplicationFormLimits" action="/multiplication" method="post">
                        <input type="hidden" name="title" value="Multiplication Game - smaller">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="limitNumbers" value="1,2,3,4">
                        <button type="submit" class="link-button">Multiplication Game - 4 minutes - 1-4 numbers</button>
                    </form>

                    <form id="multiplicationFormLimits" action="/multiplication" method="post">
                        <input type="hidden" name="title" value="Multiplication Game - larger">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="limitNumbers" value="5,6,7">
                        <button type="submit" class="link-button">Multiplication Game - 4 minutes - 5-7 numbers</button>
                    </form>

                    <form id="multiplicationFormLimits" action="/multiplication" method="post">
                        <input type="hidden" name="title" value="Multiplication Game - larger">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="limitNumbers" value="5,6,7,8,9">
                        <button type="submit" class="link-button">Multiplication Game - 4 minutes - 5-9 numbers</button>
                    </form>
                </div>
            </div>

            <hr>

            <br><br>

            <div class="section-div">
                <div id="title-bar">Fraction Problems</div>

                <div class="section-bottom">
                    <form id="fractionsForm" action="/multiplication_fractions" method="post">
                        <input type="hidden" name="title" value="Fractions Multiplication Game - 1-5">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="limitNumbers" value="1,2,3,4,5">
                        <button type="submit" class="link-button">Fractions Multiplication Game - 1-5</button>
                    </form>

                    <form id="fractionsForm" action="/multiplication_fractions" method="post">
                        <input type="hidden" name="title" value="Fractions Multiplication Game">
                        <input type="hidden" name="timer" value="240">
                        <button type="submit" class="link-button">Fractions Multiplication Game</button>
                    </form>

                    <!--TODO need to add instructions to problem more-->
                    <form id="fractionsForm" action="/fractions_reducing" method="post">
                        <input type="hidden" name="title" value="Fractions Reducing Game - smaller">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="limitNumbers" value="1,2,3">
                        <button type="submit" class="link-button">Fractions Reducing Game - smaller</button>
                    </form>

                    <form id="fractionsForm" action="/fractions_reducing" method="post">
                        <input type="hidden" name="title" value="Fractions Reducing Game - larger">
                        <input type="hidden" name="timer" value="240">
                        <button type="submit" class="link-button">Fractions Reducing Game - larger</button>
                    </form>

                    <form id="gcdForm" action="/find_gcd" method="post">
                        <input type="hidden" name="title" value="Find GCD - Smaller">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="limitNumbers" value="1,2,3,4">
                        <button type="submit" class="link-button">Find GCD - smaller</button>
                    </form>

                    <form id="gcdForm" action="/find_gcd" method="post">
                        <input type="hidden" name="title" value="Find GCD - Medium">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="limitNumbers" value="1,2,3,4,5,6">
                        <button type="submit" class="link-button">Find GCD - medium</button>
                    </form>

                    <form id="gcdForm" action="/find_gcd" method="post">
                        <input type="hidden" name="title" value="Find GCD - Larger">
                        <input type="hidden" name="timer" value="240">
                        <button type="submit" class="link-button">Find GCD - larger</button>
                    </form>
                </div>
            </div>

            <br><br>
        </td>
        <td>

            <div class="section-div">
                <div id="title-bar">Spanish Vocabulary</div>

                <div class="section-bottom">
                    <form id="spanishForm" action="/spanish_numbers_to_english" method="post">
                        <input type="hidden" name="title" value="Spanish Numbers - Spanish to English">
                        <input type="hidden" name="timer" value="240">
                        <button type="submit" class="link-button">Spanish Numbers - Spanish to English</button>
                    </form>

                    <form id="spanishForm" action="/spanish_numbers_to_spanish" method="post">
                        <input type="hidden" name="title" value="Spanish Numbers - English to Spanish">
                        <input type="hidden" name="timer" value="240">
                        <button type="submit" class="link-button">Spanish Numbers - English to Spanish</button>
                    </form>
                </div>
            </div>
            <br>

            <br><br>

            <div class="section-div">
                <div id="title-bar">US States</div>

                <div class="section-bottom">
                    <form id="USStatesForm" action="/us_states" method="post">
                        <input type="hidden" name="title" value="US States">
                        <input type="hidden" name="timer" value="240">
                        <button type="submit" class="link-button">US States Map Quiz</button>
                    </form>

                    <form id="USStatesForm" action="/us_states" method="post">
                        <input type="hidden" name="title" value="US States">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="zone" value="west">
                        <button type="submit" class="link-button">US States Map Quiz - west half</button>
                    </form>

                    <form id="USStatesForm" action="/us_states" method="post">
                        <input type="hidden" name="title" value="US States">
                        <input type="hidden" name="timer" value="240">
                        <input type="hidden" name="zone" value="east">
                        <button type="submit" class="link-button">US States Map Quiz - east half</button>
                    </form>

                    <!--        todo break this into east west -->
                    <!--        color code half map not using grey-->
                    <!--        tag eash state as east or west zone-->
                    <!--        only ask that set. -->
                    <!--        / or just pass in list of states?-->

                </div>
            </div>
            <br>
        </td>
        <td>
<!--            image of our tutorbot-->
            <img src="/images/tutorbot.png" alt="TutorBot" style="width: 300px; height: 300px;">
        </td>
    </tr>
</table>

<form id="multiplicationFormLimits" action="/multiplication" method="post">
    <input type="hidden" name="title" value="Multiplication Game - smaller">
    <input type="hidden" name="timer" value="15">
    <input type="hidden" name="limitNumbers" value="1,2,3,4">
    <button type="submit" class="link-button">Test Game - 4 minutes - 1-4 numbers</button>
</form>


</body>
</html>